
body{
    background: url("https://i.imgur.com/LEq7smE.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
}
@media (min-device-width: 1000px) 
{
    .container{
    text-align: center;  
}
input{ margin-top: 50px;background-color: rgba(255, 255, 0, 0);border: 1px solid rgb(255, 252, 252);color: rgb(163, 163, 163); width: 825px; height: 80px; font-size: 55px;}
.BU{
    margin-top: 80px;
    font-size: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.zznbu{
    margin-top: -50px;
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Tkln{
    margin-top: 40px;
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.out{
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
}
.mbu{font-size: 55px;font-family: Georgia, 'Times New Roman', Times, serif;}
img{
    margin-top: 50px;
}

}

@media (max-device-width: 1000px) 
{.container{
    text-align: center;  
}
input{ margin-top: 50px;background-color: rgba(255, 255, 0, 0);border: 1px solid rgb(255, 252, 252);color: rgb(163, 163, 163); width: 225px; height: 50px; font-size: 40px;text-align: center;}
.BU{
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.zznbu{
    font-size: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Tkln{
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.out{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.mbu{font-size: 30px;font-family: Georgia, 'Times New Roman', Times, serif;text-align: center;}
img{
    margin-top: 30px;
    text-align: center;
}


}

