
body{
    background: url("https://i.imgur.com/LEq7smE.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
}
.container{
    margin:auto;
    width: 400px;  
    text-align: center;  
}
input{background-color: rgba(255, 255, 0, 0);border: 1px solid rgb(255, 252, 252);color: rgb(163, 163, 163);}



